body {
  font-family: Arial;
  margin: 0;
}

header {
  background: #df085a;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  background: #b114f0;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}