body {
  font-family: Arial;
  margin: 0;
}

header {
  background: #df085a;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  background: #b114f0;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}
section{
padding:20px;}
ul{
list-style:none;}
li{
background:#eee;
margin:10px;
padding:10px;
border-radius:5px;}
footer{
background:#5824e7;
color:white;
text-align:center;
padding:20px;
margin-top:30px;}